ion-col div.form {
    display: table-cell !important;
    vertical-align: middle !important;
    margin-top: 70px !important;
}


ion-bottom-drawer {
    border-top: 1px solid #999 !important;
    box-shadow: inset 0px 11px 8px -10px #999,
    inset 0px -11px 8px -10px #999 !important;
}