<!-- <ion-content>
  <ion-refresher pullFactor="0.5" pullMin="100" pullMax="200" slot="fixed" (ionRefresh)="globals.doRefresh($event)">
    <ion-refresher-content
    pullingIcon="arrow-dropdown"
    pullingText="Pull to refresh"
    refreshingSpinner="circles"
    refreshingText="Refreshing...">
  </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col size-md="4" offset-sm="8" size-sm="5" offset-sm="7" size="12" class="h-100 bg-primary">
        <div class="form">
          <h2 class="logo">Ionic 4</h2>
          <ion-item lines="none">
            <ion-label>
              <h2 color="dark" class="fs-20">Let's get started:</h2>
              <p class="fs-12"class="ion-text-wrap">access your account information using your device phones number</p>
            </ion-label>
          </ion-item>
          <login></login>
        </div>
      </ion-col>
      <ion-col class="visible-md h-100">
        <div> 2 of 3 </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content> -->

<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <login></login>
</ion-content>