
.sc-ion-card-md-h {
    margin-inline-start: 0px;
    -webkit-margin-end: 0px;
    img {
        min-height: 100px !important;
        max-height: 300px !important;
    }
}

ion-toolbar ion-buttons {
    margin-left: 5px !important;
}